# This workflow will upload a Python Package to PyPI when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package to PyPI and TestPyPI

on:
    push:
        tags: ["v*"]
    release:
        types: [published]

jobs: 
    release-build: 
        name: Build distribution and wheel
        runs-on: ubuntu-latest
        steps:
        - name: Check out repository
          uses: actions/checkout@v4
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.12"
        - name: Install pypa build dependencies
          run: |
            python -m pip install --upgrade pip
            python -m pip install build
        - name: Build package (binary wheel and a source tarball)
          run: python -m build 
        - name: Store the distribution package
          uses: actions/upload-artifact@v4
          with:
            name: release-dists
            path: dist/

    publish-to-testpypi:
        name: Publish package to TestPyPI
        if: github.event_name == 'push' &&  startsWith(github.ref, 'refs/tags/')  # only publish to TestPyPI on tag pushes
        needs:
        - release-build
        runs-on: ubuntu-latest

        environment:
            name: testpypi
            url: https://test.pypi.org/p/xrdpy

        permissions:
            id-token: write  # IMPORTANT: mandatory for trusted publishing

        steps:
        - name: Download all the dists
          uses: actions/download-artifact@v6
          with:
            name: release-dists
            path: dist/
        - name: Publish distribution to TestPyPI
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            repository-url: https://test.pypi.org/legacy/
            verbose: true

    publish-to-pypi:
        name: Publish package to PyPI
        if: github.event_name == 'release' && startsWith(github.event.release.tag_name, 'v') # only publish to PyPI on tag release
        runs-on: ubuntu-latest
        needs:
        - release-build
        permissions:
          id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
        # Dedicated environments with protections for publishing are strongly recommended.
        # For more information, see: https://docs.github.com/en/actions/deployment/targeting-different-environments/using-environments-for-deployment#deployment-protection-rules
        environment:
            name: pypi
            url: https://pypi.org/p/xrdpy

        steps:
        - name: Retrieve release distribution
          uses: actions/download-artifact@v4
          with:
            name: release-dists
            path: dist/
        - name: Publish release distribution to PyPI
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            packages-dir: dist/
